################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demo/demo/obj
/demo/demo/bin/Debug/netcoreapp3.1
/demo/.vs/demo/v16
/.vs
