################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo/Demo/obj
/Demo/Demo/bin/Debug/netcoreapp3.1
/Demo/.vs/Demo/v16
/.vs
